.customInput {
    font-size: 14px !important;
    padding: 10px 12px !important;
    border-radius: 8px !important;
    height: 45px;
}


.customInput ::placeholder {
    font-size: 12px !important;
    color: #999 !important;
    opacity: 1;
}


.customInput :focus {
    border-color: #0a3d6d !important;
    box-shadow: 0 0 0 0.1rem rgba(10, 61, 109, 0.25) !important;
}

.passwordWrapper {
    display: flex;
    align-items: center;
}

.passwordWrapper .customInput  {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: none !important;
}

.inputGroupText {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    background-color: white !important;
    height: 45px;
}